<app-customer-information
  [(firstName)]="firstName"
  [(lastName)]="lastName"
  [(email)]="email"
  [(password)]="password"
></app-customer-information>
<app-card-input
  [(stripe)]="stripe"
  [(card)]="card"
  [(cardholderName)]="cardholderName"
  [(addressLine1)]="addressLine1"
  [(addressLine2)]="addressLine2"
  [(city)]="city"
  [(state)]="state"
  [(zip)]="zip"
  [(country)]="country"
  [(phone)]="phone"
></app-card-input>
<app-subscription-plans
  [stripe]="stripe"
  [firstName]="firstName"
  [lastName]="lastName"
  [email]="email"
  [card]="card"
  [cardholderName]="cardholderName"
  [addressLine1]="addressLine1"
  [addressLine2]="addressLine2"
  [city]="city"
  [state]="state"
  [zip]="zip"
  [country]="country"
  [phone]="phone"
></app-subscription-plans>
