<form action="/charge" method="post" id="payment-form">
  <label for="card-element">
    <h1>Payment Method (Credit or Debit Card Only)</h1>
  </label>
  <div class="form-row">
    <div id="card-element">
      <!-- A Stripe Element will be inserted here. -->
    </div>

    <!-- Used to display form errors. -->
    <div id="card-errors" role="alert"></div>
  </div>
  <div class="customer-information">
    <div class="form-row">
      <span>Cardholder Name: </span
      ><input
        type="text"
        name="cardholder_name"
        [ngModel]="cardholderName"
        placeholder="First Name Last Name"
        (ngModelChange)="setCardholderName($event)"
        />
    </div>
    <div class="form-row">
      <span>Address Line 1: </span
      ><input
        type="text"
        name="address_line_1"
        [ngModel]="addressLine1"
        placeholder="Address Line 1"
        (ngModelChange)="setAddressLine1($event)"
        />
    </div>
    <div class="form-row">
      <span>Address Line 2: </span
      ><input
        type="text"
        name="address_line_2"
        [ngModel]="addressLine2"
        placeholder="Address Line 2"
        (ngModelChange)="setAddressLine2($event)"
        />
    </div>
    <div class="form-row">
      <span>City: </span
      ><input
        type="text"
        name="city"
        [ngModel]="city"
        placeholder="City"
        (ngModelChange)="setCity($event)"
        />
    </div>
    <div class="form-row">
      <span>State: </span
      ><input
        type="text"
        name="state"
        [ngModel]="state"
        placeholder="State"
        (ngModelChange)="setState($event)"
        />
    </div>
    <div class="form-row">
      <span>ZIP: </span
      ><input
        type="text"
        name="zip"
        [ngModel]="zip"
        placeholder="ZIP/Postal Code"
        (ngModelChange)="setZip($event)"
        />
    </div>
    <div class="form-row">
      <span>Country: </span
      ><input
        type="text"
        name="country"
        [ngModel]="country"
        placeholder="Country(2-cahracter)"
        (ngModelChange)="setCountry($event)"
        />
    </div>
    <div class="form-row">
      <span>Phone: </span
      ><input
        type="tel"
        name="phone"
        [ngModel]="phone"
        placeholder="Phone Number"
        (ngModelChange)="setPhone($event)"
        />
    </div>
  </div>
</form>
