<h1>Customer Information</h1>
<div class="customer-information">
  <div class="form-row">
    <input
      type="text"
      name="firstName"
      [value]="firstName"
      placeholder="Enter Your First Name"
      (change)="setfirstName($event)"
    />
  </div>
  <div class="form-row">
    <input
      type="text"
      name="lastName"
      [value]="lastName"
      placeholder="Enter Your Last Name"
      (change)="setLastName($event)"
    />
  </div>
  <div class="form-row">
    <input
      type="email"
      name="email"
      [value]="email"
      placeholder="Enter Your Email"
      (change)="setEmail($event)"
    />
  </div>
  <div class="form-row">
    <input
      type="password"
      name="password"
      [value]="password"
      placeholder="Enter Your Password"
      (change)="setPassword($event)"
    />
  </div>
  <div class="form-row">
    <input
      type="password"
      name="password"
      [value]="password"
      placeholder="Confirm Your Password"
    />
  </div>
  <div class="form-row">
    <input type="button" value="Submit" (click)="onSubmit()" />
  </div>
</div>
