<div>
  <span>{{ customerName }} </span>
  <span
    >{{ subscription.items[0].plan.nickname }} Quantity:
    <input
      type="number"
      name="quantity"
      [value]="quantity === null ? subscription.items[0].quantity : quantity"
      (change)="setQuantity($event)"
  /></span>
  <span
    ><input
      type="button"
      [value]="
        subscription.items[0].plan.nickname === 'Monthly'
          ? 'Upgrade to Yearly'
          : 'Downgrade to Monthly'
      "
      (click)="changePlan()"
  /></span>
  <span class="cancel"
    ><input
      type="checkbox"
      name="invoice_now"
      (change)="toggleInvoiceNow()" /><span> Invoice Now </span
    ><input type="button" value="Cancel Subscription" (click)="onDelete()"
  /></span>
</div>
